
.offer-products{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    & h2{
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
}