#left-slider{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.532);

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    justify-content: flex-end;

    transition: opacity .2s;

    & p{
        margin: 0;
    }

    &.hidden{
        opacity: 0;
        pointer-events: none;
    }
}   

#hide-show-toggle{
    width: 25vw;
    height: fit-content;
    border-top-left-radius: 1rem;
    background-color: whitesmoke;

    transition: transform .5s;

    &.hidden{
        position: relative;
        transform: translateX(100%);
    }
}

.toggle-title{
    padding: .8rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    position: sticky;
    top: 0;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(195, 197, 201);
    border-top-left-radius: 1rem;


    & h2{
        font-size:  1rem;
        font-weight: 400;
        width:  100%;
        text-align: center;

    }

    & button{
        background-color: transparent;
    }
}

.toggle-info{
    padding: 1rem;

    font-size: .8rem;
}
