#ads-run {
  margin-bottom: -70px;

  #top-banner {
    img {
      width: 100vw;
      height: 80vh;
    }
  }

  #ads-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-image: url("/addrunpage/top-mobile-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 5%;

    h1 {
      font-size: 70px;
      color: #1da1f2;
    }

    p {
      color: white;
    }

    div:last-child {
      background-color: rgba(217, 217, 217, 0.6);
      padding: 2rem;
      border-radius: 1rem;

      max-width: 700px;

      h2 {
        color: #0f5b8a;
        text-align: center;
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input {
          padding: 0.5rem 1rem;
          background-color: #d9d9d9;
          border: none;
          border-radius: 0.5rem;
        }

        button {
          background-color: #1da1f2;
          width: fit-content;
          margin: auto;
          padding: 0.5rem 3rem;
          border-radius: 2rem;
          border: 1px solid white;
          font-weight: bolder;
          color: white;
        }
      }
    }
  }

  #stock {
    h3 {
      font-size: 40px;
      text-align: center;
      color: #ff5e00;
      padding: 1rem;
      background-color: rgba(0, 132, 214, 20%);
    }

    #available-products {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      max-width: 1000px;
      margin: auto;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    a {
      background-color: #1da1f2;
      width: fit-content;
      display: block;
      margin: auto;
      padding: 0.5rem 3rem;
      border-radius: 2rem;
      border: 1px solid white;
      font-weight: bolder;
      color: white;
    }
  }

  #client-satisfaction {
    background-image: url("/addrunpage/client-satisfaction.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;

    h3 {
      font-size: 36px;
    }

    h4 {
      font-size: 64px;
      font-family: "Arial Narrow", Arial, sans-serif;
      font-weight: 100;
      color: #1da1f2;
    }

    p {
      color: #ff5e00;
      font-weight: bold;
    }
  }

  #choose-us {
    background-image: url("/addrunpage/why-choose-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    min-height: 35rem;

    h3 {
      color: #1da1f2;
      font-size: 70px;
      letter-spacing: -2px;
      margin-bottom: 1rem;

      &:first-child {
        margin-bottom: -20px;
      }
    }

    p {
      color: white;
    }

    img {
      margin: auto;
    }
  }

  #phone-call {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 132, 214, 20%);
    padding: 1rem;

    a {
      color: #ff5e00;
      font-size: 40px;
      font-weight: bold;
    }
  }

  #what-makes-best {
    padding: 4rem 5% 6rem 5%;
    background-image: url("/addrunpage/last-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2 {
      text-align: center;
      color: white;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 7rem;

      span {
        color: #1da1f2;
      }
    }

    #cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      max-width: 1200px;
      margin: auto;
      text-align: center;

      .card {
        color: white;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        border: none;

        img {
          height: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #ads-run {
    #top-banner {
      img {
        width: 100vw;
        height: auto;
      }
    }

    #ads-top {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 1rem;
      padding-bottom: 2rem;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      br {
        display: none;
      }
    }

    #stock {
      #available-products {
        justify-content: center;
      }
    }

    #choose-us {
      grid-template-columns: 1fr;
    }

    #what-makes-best {
      #cards {
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
      }
    }

    #phone-call {
      a {
        font-size: 30px;
      }
    }
  }
}
