

.logos {
    /* border: 1px solid red; */
    background-color: white;
    width: 90%;
    max-width: 1080px;
    margin: auto;
    gap: 5px;
    padding: 10px;

    border-radius: 4px;

    & span{
        font-size: .8rem;
    }
}

.logos-container{
    display: flex;
    justify-content: space-between;
}

.logos div img{
    margin-right: 5px;
}


.sub-banner{
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    display: block;
}

.sub-banner:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,.12);
}

.pre-and-refub{
    margin-top: 50px;
    text-align: center;
}

.pre-and-refub a{
    border: 1px solid rgba(18, 18, 18, 1);
    border-radius: 6px;
    padding:15px 50px ;
    margin-right: 2px;
}

.pre-and-refub a:hover{
    background-color: rgba(178, 218, 243, 0.3);
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 15px;

    width: 90vw;
    max-width: 1080px;
    margin: auto;
    margin-top: 50px;
}

.see-more{
    padding:10px 40px ;
    border: 1px solid;
    border-radius: 5px;

    display: block;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.see-more:hover{
    background-color: rgba(178, 218, 243, 0.3);
}

.adds{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90vw;
    margin: auto;
    margin-top: 50px;
}

.adds img{
    width: 100%;
}

.adds img:hover{
    box-shadow: 0 12px 12px -6px rgba(0,0,0, .5);
}



@media screen and (max-width:550px) {
    .logos{
        overflow-x: hidden;
        padding-left: 0;
    }
    .logos-container{
        display: grid;
        grid-template-columns: repeat(9, 120px);

        animation: home-logo-slider 18s steps(6) infinite;

        & div{
            display: flex;
            align-items: center;

            width: 120px;
            box-sizing: border-box;
            overflow: hidden;
        }
    }

    @keyframes home-logo-slider{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-720px);
        }
    }


    .pre-and-refub{
        /* border: 1px solid; */
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .pre-and-refub a{
        font-size: .8rem;
        padding: .5rem .8rem;
    }

    .products{
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    .adds{
        grid-template-columns: 1fr 1fr;
    }
}
