#tradeDifference {
    & h4 {
        color: #0653CE;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }
}

#experience {
    background-color: #0653CE;

    color: white;
    padding: 2rem;
    text-align: center;

    margin-top: 3rem;
}

.container-td {
    width: 90%;
    margin: auto;
    max-width: 1440px;
}

#before-section,
#after-section {
    padding: 2rem 0;

    background-repeat: no-repeat;
    background-size: cover;

    & .container-td {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        text-align: center;

        & p:last-child {
            font-size: .7rem;
        }
    }

    & img {
        width: 70px;
        height: 70px;
        margin-bottom: 1rem;
    }
}

#before-section {
    background-image: url("/staticImages/bgbefore.png");

}


#after-section {
    background-image: url("/staticImages/bgafter.png");

    & p {
        color: white;
    }
}

@media screen and (max-width:700px) {

    #before-section,
    #after-section {
        & .container-td {
            grid-template-columns: 1fr;
        }
    }
}