.contact-title{
    background-color: #BDD1E2;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding:4rem 0 6rem 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & p{
        font-family: serif;
        font-size: 3rem;
        font-weight: bold;
        margin: 0;

        text-align: center;
    }

    .contact-logos{
        display: flex;
        gap: 2rem;
        position: absolute;
        bottom: 0;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 1rem;

        transform: translateY(50%);
        
        & svg{
            width: 3rem;
            height: 3rem;
        }
    }
}

.contact-info{
    max-width: 1440px;
    margin: auto;
    padding: 3rem;

}

.sub-header{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;

}

.accordion-item{
    background-color: transparent;
}

.accordion-button{
    padding: .5rem;
    display: flex;
    align-items: center;

    background-color: transparent;

    & h3{
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: 400;
    }
}


@media screen and (max-width: 550px) {
    .contact-info{
        width: 90vw;
        padding: 0;
        padding-top: 5rem;
    }
}