.comments {
    width: 90%;
    max-width: 1440px;
    margin: auto;

    & h3 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin: 3rem 0 4rem 0;

        & span {
            color: #0653CE;
        }
    }
}

#comments-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 2rem;

    & div {
        text-align: center;
        color: white;
        padding: 40px 10px;
        position: relative;
        border-radius: 2rem;

        background-color: #0653CE;

        & .name {
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}

.stars img {
    width: 25px;
}

.avatar {
    width: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#comments-container p:last-child {
    height: 200px;
    overflow-y: scroll;
}

#comments-container p:last-child::-webkit-scrollbar {
    display: none;
}
#comments-container p:last-child {
    scrollbar-width: none;
}