section.resource {
    max-width: 1440px;
    margin: auto;

    & h2 {
        text-align: center;
        margin-top: 1rem;
        font-weight: 400;
    }
}

.resource-blogs {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem;

    margin-bottom: 3rem;
}

.resource-blogs img {
    margin-top: 1rem;
    height: 5rem;
    object-fit: contain;
}

.accordion-container {
    padding: 2rem;
    margin-top: 2rem;
}

.accordion-item {
    background-color: transparent;
}

.accordion-button {
    padding: .5rem;
    display: flex;
    align-items: center;

    background-color: transparent;

    & h3 {
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: 400;
    }
}

#why-better{
    margin-top: 3rem;
}
#why-better>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & .icons {
        width: 2.5rem;
        height: 2.5rem;
        fill: #0084D6;

        margin-bottom: .5rem;
    }

    &>div {
        width: 300px;
        text-align: center;
        border-radius: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
        padding: 1rem;
    }

    & h4 {
        font-size: 1rem;
        color: #0084D6;
    }

    & p {
        font-size: .8rem;
        font-weight: 300;
    }
}

.our-vison{
    margin-top: 3rem;
}

@media screen and (max-width: 550px) {
    .resource-blogs{
        justify-content: center;
    }
}