.admin-single{
    width: 500px;
    border: 1px solid rgb(132, 128, 128);
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-single img.product-image{
    max-width: 150px;
}

.admin-single > div{
    padding: 5px;
    border-top: 1px solid rgb(113, 111, 111);
    text-align: center;
}

.admin-single span{
    margin: 10px;
}

.admin-single .edit, .admin-single .delete{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.edit:hover{
    color: rgb(122, 207, 179);
}

.admin-single .delete{
    color: rgb(206, 120, 120);
}
.delete:hover{
    color: red
}